/* .aboutUs{
    background-image: url('../../../../assets/images/offering1.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
}

.aboutUs_right_side {
    width: 50vw;
    float: right;
    background-color: white;
    height: 100%;
    padding: 40px;


}

.aboutUs_right_side h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 20px 0px 10px;
    line-height: 1.1;
}

.aboutUs_right_side p{

    color: gray;
    margin: 30px 0px 10px;
    line-height: 1.4;
} */
.AboutUs_leftimage{
}